.navButtons {
    .navButtons__return {
        text-align: center;
        display: block;
        width: 200px;
        margin: 10px auto;
    }
    .navButtons__login {
        text-align: center;
        display: block;
        width: 200px;
        margin: 10px auto;
    }
}