@import "constants/constants.scss";

.header {
    flex-grow: 1;
    .header__logoText {
        margin-left: 16px;
        font-size: 25px;
        font-weight: 700;
        font-family: monospace;
        color: #fff;
        flex-grow: 1;
    }
}
