@import "constants/constants.scss";

.header {
    background-color: $color_mint;
    height: 64px;
    .header__container {
        height: 64px;
        display: flex;
        // justify-content: space-between;
        align-items: center;
        .header__logoText {
            margin-left: 10px;
            text-align: right;
            font-size: 25px;
            font-weight: 700;
            font-family: monospace;
            color: #fff;
        }
    }
}